
main {
    display: flex;
    flex-shrink: 1;
}

.upgrade {
    width: var(--desk-librarywidth);
    height: var(--desk-navheight);
    background-color: var(--xblack);
    position: fixed;
    left: var(--desk-menuwidth);
    top: 0;
}

.menubar {
    min-width: var(--desk-menuwidth);
    height: calc(100vh - var(--desk-navheight));
    background-color: black;
}

.home {
    width: var(--desk-librarywidth);
    height: calc(100vh - var(--desk-navheight));
    background-color: var(--night);
    overflow-y: scroll;
}

.player  {
    width: var(--desk-largewidth);
    height: var(--desk-navheight);
    background-color: var(--drkgrey);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav-bar {
    /* height: auto; */
    max-width: 630px;
    margin: auto;
}

.element {
    /* background-color: salmon; */
}

.home img {
    max-width: 100%;
    padding: 0.5rem;
}

.menubar img {
    width: 25px;
}

.menubar {
    color: white;
}

.logo-small {
    display: none;
}








