
main {
    display: flex;
}

.upgrade {
    width: var(--desk-librarywidth);
    height: var(--desk-navheight);
    background-color: var(--xblack);
    position: fixed;
    left: 230px;
    top: 0;
}

.menubar {
    width: var(--desk-menuwidth);
    height: calc(100vh - var(--desk-navheight));
    background-color: black;

}

.home {
    width: var(--desk-librarywidth);
    height: calc(100vh - var(--desk-navheight));
    background-color: var(--night);
    overflow-y: scroll;
}

.player  {
    width: var(--desk-largewidt);
    height: var(--desk-navheight);
    background-color: var(--drkgrey);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav-bar {
    height: auto;
    max-width: 630px;
    margin: auto;
}

.element {
    height: 240px;
    width: 180px;
    background-color: salmon;
}

img {
    max-width: 100%;
    padding: 0.5rem;
}




