@media screen and (max-width:1100px) {
    /* TO DO: add wrap to nav-bar */
    .elements {
        flex-wrap: wrap;
    }

    .element {
        height: 240px;
        max-width: calc(var(--desk-librarywidth) / 8);
    }
}

@media screen and (max-width:700px) {
    /* TO DO: add wrap to nav-bar */
    
    .element {
        height: 240px;
        max-width: calc(var(--desk-librarywidth) / 6.5);
    }
}

@media screen and (max-width:600px) {
    /* TO DO: add wrap to nav-bar */
    
    .menubar {
        min-width: var(--xs-menuwidth);
        max-width: var(--xs-menuwidth);
    }

    .upgrade {
        left: var(--xs-menuwidth);
    }
}

