/************************************************
General Settings
************************************************/

/* Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout Size */

:root {
    /* Desktop size */
    --desk-largewidth: 1430px;
    --desk-menuwidth: 230px;
    --desk-librarywidth: calc(var(--desk-largewidth) - var(--desk-menuwidth));
    --desk-navheight: 85px;

    /* Very small size */
    --xs-menuwidth: 3rem;
}

/* Color Palette */

:root {
    --xblack: rgba(0, 0, 0, 0.3);
    --drkgrey: #282828;
    --litgrey: #a3a3a3;
    --mediumgrey: #5A5A5A;
    --night: #141922;
    --green: #adff2f;
}

/* General Style */

li {
    list-style: none;
}

a {
    text-decoration: none;
}



/************************************************
Main
************************************************/

/***********************
Home
***********************/

.home {
    padding-top: calc(var(--desk-navheight) + 1rem);
}

/* Nav-bar */

.nav-bar {
    padding-bottom: 2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    position: relative;
}

.nav-bar .pseudo-element::after {
    content: "";
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: -5px;
    height: 3px;
    background-color: var(--green);
}

.nav-bar a {
    color: var(--litgrey);
    font-size: 1rem;
}

.nav-bar a:hover {
    color: white;
}

/* Highlights */

.highlights {
    padding-inline: 1rem;
}

.section-name {
    color: white;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5rem;
}

.section-description {
    color: var(--litgrey);
    font-size: 1rem;
}

.elements {
    --cols: 6;
    --gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
    
.element	{
    height: 230px;
    flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
}

.element span {
    display: block;
    text-align: center;
}

.metadata-1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}

.metadata-2 {
    color: var(--litgrey);
    font-size: 1rem;
    font-weight: 800;
}

.round {
    border-radius: 100%;
}

/***********************
Menu bar
***********************/

.menubar {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.menubar * {
    color: var(--litgrey);
}

.menubar .logo {
    width: 130px;
    margin-bottom: 1.5rem;
}

.menubar li {
    display: flex;
    align-items: center;
}

.menubar .section img {
    margin-right: 0.5rem;
}

.menubar .section li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.menubar .playlist {
    margin-top: 1.5rem;
    flex-grow: 1;
}

.menubar .title {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.menubar .playlist li {
    margin-bottom: 1rem;
}

.menubar .playlist i {
    font-size: 3rem;
    margin-right: 0.5rem;
}

.menubar .upper {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--litgrey);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.menubar .foot-nav img {
    margin-right: 1rem;
}

.menubar .lower {
    display: flex;
    align-items: center;
}

.menubar .user {
    aspect-ratio: 1 / 1;
    background-color: var(--litgrey);
    border-radius: 100%;
}


.user-name::after {
    content: " John Doe";
    color: white;
}

/***********************
Player section
***********************/

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}

.player .left {
    display: flex;
    color: var(--mediumgrey)
}

.player .left img {
    width: 45px;
    aspect-ratio: 1 / 1;
}

.player .middle,
.player .right {
    color: white;
    --time-h: 6px;
}

.player .media-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.player .media-controls .big {
    font-size: 30px;
}

.player .time-info {
    display: flex;
    align-items: center;
}

.player .timeline {
    height: var(--time-h);
    width: 425px;
    background-color: var(--mediumgrey);
    border-radius: calc(var(--time-h) / 2);
    position: relative;
}

.player .timeline::before {
    content: "";
    position: absolute;
    border-radius: calc(var(--time-h) / 2);
    left: 0;
    width: 25%;
    height: var(--time-h);
    background-color: var(--litgrey);
}

.player .timeline::after{
    content: "";
    position: absolute;
    border-radius: calc(var(--time-h) / 2);
    left: calc(25% - var(--time-h));
    bottom: -50%;
    width: calc(var(--time-h) * 2);
    height: calc(var(--time-h) * 2);
    border-radius: var(--time-h);
    background-color: white;
    opacity: 0%;
}

.player .timeline:hover::before {
    background-color: var(--green);
    cursor: pointer;
}

.player .timeline:hover::after {
    opacity: 100%;
    cursor: pointer;
}

.player .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player .volume {
    height: var(--time-h);
    width: 125px;
    background-color: var(--mediumgrey);
    border-radius: calc(var(--time-h) / 2);
    position: relative;
}

.player .volume::before {
    content: "";
    position: absolute;
    border-radius: calc(var(--time-h) / 2);
    left: 0;
    width: 75%;
    height: var(--time-h);
    background-color: var(--litgrey);
}


