/************************************************
General Settings
************************************************/

/* Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout Size */

:root {
    --desk-largewidth: 1430px;
    --desk-menuwidth: 230px;
    --desk-librarywidth: calc(var(--desk-largewidth) - var(--desk-menuwidth));
    --desk-navheight: 85px;
}

/* Color Palette */

:root {
    --xblack: rgba(0, 0, 0, 0.3);
    --drkgrey: #282828;
    --litgrey: #a3a3a3;
    --night: #141922;
    --green: #adff2f;
}

/************************************************
Main
************************************************/

/* Home */

.home {
    padding-top: calc(var(--desk-navheight) + 1rem);
}

/* Nav-bar */

.nav-bar {
    padding-bottom: 2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    color: var(--litgrey);
    font-size: 1rem;
}

/* Recently Played section */
/* && */
/* Created for user section  */
/* && */
/* Most Popular Artist */

.section-name {
    color: white;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5rem;
}

.section-description {
    color: var(--litgrey);
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.elements {
    display: flex;
}

.element span {
    display: block;
    text-align: center;
}

.metadata-1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}

.metadata-2 {
    color: var(--litgrey);
    font-size: 1rem;
    font-weight: 800;
}



