/************************************************
General Settings
************************************************/

/* Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout Size */

:root {
    /* Desktop size */
    --desk-largewidth: 1430px;
    --desk-menuwidth: 230px;
    --desk-librarywidth: calc(var(--desk-largewidth) - var(--desk-menuwidth));
    --desk-navheight: 85px;

    /* Very small size */
    --xs-menuwidth: 3rem;
}

/* Color Palette */

:root {
    --xblack: rgba(0, 0, 0, 0.3);
    --drkgrey: #282828;
    --litgrey: #a3a3a3;
    --night: #141922;
    --green: #adff2f;
}

/************************************************
Main
************************************************/

/* Home */

.home {
    padding-top: calc(var(--desk-navheight) + 1rem);
}

/* Nav-bar */

.nav-bar {
    padding-bottom: 2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    list-style: none;
    position: relative;
}

.nav-bar a {
    text-decoration: none;
    color: var(--litgrey);
    font-size: 1rem;
}

.nav-bar a:hover {
    color: white;
}

.nav-bar .pseudo-element::after {
    content: "";
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: -5px;
    height: 3px;
    background-color: var(--green);
}

/* Highlights */

.highlights {
    padding-inline: 1rem;
}

.section-name {
    color: white;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5rem;
}

.section-description {
    color: var(--litgrey);
    font-size: 1rem;
}

.elements {
    --cols: 6;
    --gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
    
.element	{
    height: 230px;
    flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
}

.element span {
    display: block;
    text-align: center;
}

.metadata-1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}

.metadata-2 {
    color: var(--litgrey);
    font-size: 1rem;
    font-weight: 800;
}

.round {
    border-radius: 100%;
}





